*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/script/boxsizing.htc);
}

body{
  font-family: "Droid Serif, Georgia, serif";
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Varela Round", arial, sans-serif;
  font-weight: 400;
}
a{
  color: #3498db;
  text-decoration: none;
}
a:hover{
  color: #2a84bf;
}
img{
  max-width: 100%;
  height: auto;
}
.blog-header{
  padding: 30px 15px;
  background-color: #333;
}
.blogName{
  font-family: "Varela Round", Arial, sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}
.blog-name a{
  color: #fff;
}
.searchForm input{
  height: 36px;
  background-color: #ccc;
  color: #555;
  border: 0;
  padding: 0 10px;
  border-radius: 30px;
}
.searchForm input::placeholder{
  color: #555;
}
.searchForm input:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #bbb;
}
.blogMenu{
  margin: 30px 0;
  text-align: center;
}
.blogMenu ul{
  padding-left: 0;
}
.blogMenu li{
  margin: 15px;
  list-style-type: none;
}
.blogMenu a{
  color: #7f8c8d;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Varela Round", Arial, sans-serif;
}
.blogMenu a:hover{
  color: #3498db;
}
